:root {
    background-color: #C8AC84;
}

body {
    background-color: #C8AC84;
    
}

a {
    font-family: 'JetBrains Mono', monospace;
}

.container {
    max-width: 1000px;    
}

.container-header {
    margin-top: 10px;
}

/* Navbar */

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link img{
    margin-right: 25px;
}

.text {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.2;
    color: #000000;
    text-shadow: 2px 0 0 #0C7A5D;
    font-size: 24px;
}

.text-main {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.2;
    color: #252525;
    text-shadow: 3px 0 0 #0C7A5D;
    font-size: 48px;
    margin-top: 60px;
}

.first-letter {
    font-size: 48px;
    color: #1B908A;
    font-weight: bold;
    text-shadow: 2px 0 0 #000;
}

#first-letter-T {
    font-size: 32px;
    color: #1B908A;
    font-weight: bold;
    text-shadow: 2px 0 0 #000;
}

.line{      
    height: 5px;
    background-color: #794537;
    color: #794537;
    border: none;
}

/* Search */

.search {
    height: 125px;
    width: 700px;
    box-shadow: 4px 4px 0 0 #7B6A51;
    border:none;
    margin-top: 20px;
    background-color: #ffffff;
}

.search-text{
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: #252525;
    text-shadow: 2px 0 0 #0C7A5D;
    margin-left: 20px;
    margin-top: 20%;
}

.search-input-group {
    flex: 1;
    position: relative;
    width: 200px;
}

.search-button {
    height: 125px;
    width: 200px;
    background-color: #1B908A;
    border-radius: 10px;
    border:none;
    box-shadow: 4px 4px 0 0 #7B6A51;
    margin-top: 20px;
}

.search-button-text {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 4px 0 0 #000000;
}

.search-input {
    color: none;
    border:none;
    background-color: none;
    width: 80%;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    border:none;
}

.search-container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    gap: 50px; /* Вместо margin-left у кнопки */
}

.search-divider {
    width: 5px;
    height: 105px; /* или другая желаемая высота */
    background-color: #794537; /* или другой цвет */
    margin: 0 10px;
    align-self: center;
}

/* Time and date */

.carousel-item {
    margin-top: 50px;
}

.carousel-item img {
    height: 500px;
}

.carousel-control-prev .carousel-control-next {
    margin-top: 50px;

}

.carousel-control-next-icon {
    background-image: url('./right.png') !important;
}

.carousel-control-prev-icon {
    background-image: url('./left.png') !important;
}

.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-color: #0C7A5D;
    box-shadow: 0px 0px 0px 10px #1B908A;
}

.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
    background-color: #0C7A5D;
    box-shadow: 0px 0px 0px 10px #1B908A;
}

.carousel-indicators {
    background-color: #0C7A5D;
    box-shadow: 4px 4px 0 0 #7B6A51;
}

/* Footer */

.footer {
    background-color: #255B47;
}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.text-footer {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.2;
    color: #ffffff;
    text-shadow: 2px 0 0 #0C7A5D;
    font-size: 24px;
    margin-top: 10px;
}

.img-footer {
    width: 40px;
    height: 40px;
}

.img-footer-internet {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
/* Mobile version */

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #968163;
    }

    .navbar-collapse img {
        display: none;
    }
}

/* Медиа-запрос для мобильной версии */
@media (max-width: 767px) {
    .search-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .btn-group.search {
        flex-direction: column;
        height: auto;
        width: 100%;
        box-shadow: none;
    }
    
    .search-input-group {
        width: 100%;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 3px 3px 0 0 #7B6A51;
        margin-bottom: 20px;
    }
    
    .search-text.search-input {
        width: 100%;
        margin: 0;
    }
    
    .search-button {
        width: 50%;
        margin-left: 25%;
        height: auto;
        padding: 15px;
    }
    
    .search-divider {
        display: none;
    }

    .search {
        background-color: transparent;
        box-shadow: none;
    }

    .text-main {
        text-align: center;
    }
}